## Assignment 06
### Note:
- For visualization, you should use Matplotlib, seaborn, or Plotly Express 
- Use this notebook as your template and follow the instructions

The first half of this assignment is similar to assignment 04.

This gives you a chance to refresh.

The second half is new and gives you a chance to perform additional practices.

You also get a chance to use some of the Python libraries and techniques.

The links to the zip file is:

- https://collegescorecard.ed.gov/data (This web page contains the link to the zip file)

- https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_09012022.zip (The link to the zip file)

You can run `!wget` command in Colab notebook to retrieve it directly, then run `!unzip` command to extract files (I have provided the cells to do so next for your convenience)

Your folder structure should look like this in your Colab enviroment:

- ...
- 'MERGED1996_97_PP.csv',
- 'MERGED2015_16_PP.csv',
- ...
- 'MERGED2017_18_PP.csv'
- ...

**Note: you should refresh the folder to see all files.**

## Step 1 - Retrieve the zip file

In [1]:
pip install wget

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: wget in /usr/local/lib/python3.7/dist-packages (3.2)

In [2]:
!wget https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_09012022.zip

--2022-10-10 02:33:38--  https://ed-public-download.app.cloud.gov/downloads/CollegeScorecard_Raw_Data_09012022.zip
Resolving ed-public-download.app.cloud.gov (ed-public-download.app.cloud.gov)... 3.30.138.208, 3.30.49.38, 2600:1f12:18a:7d00:35c5:2f94:bca6:6240, ...
Connecting to ed-public-download.app.cloud.gov (ed-public-download.app.cloud.gov)|3.30.138.208|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 410294884 (391M) [application/zip]
Saving to: ‘CollegeScorecard_Raw_Data_09012022.zip.9’

CollegeScorecard_Ra 100%[===================>] 391.29M  31.1MB/s    in 12s

2022-10-10 02:33:51 (31.7 MB/s) - ‘CollegeScorecard_Raw_Data_09012022.zip.9’ saved [410294884/410294884]

## Step 2 - Unzip the zip file

In [3]:
!unzip CollegeScorecard_Raw_Data_09012022.zip

Archive:  CollegeScorecard_Raw_Data_09012022.zip
replace Crosswalks.zip? [y]es, [n]o, [A]ll, [N]one, [r]ename:

## Step 3 - Import Libraries

In [4]:
#(Write code below)
import pandas as pd
import os

In [5]:
# This is not a good practice. A lot of repetitions.
# Not recommended

data_2020 = pd.read_csv("/content/MERGED2020_21_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
data_2020["year"] = 2020
data_2019 = pd.read_csv("/content/MERGED2019_20_PP.csv", usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
data_2019["year"] = 2019
data_19_20 = pd.concat([data_2020, data_2019])
data_19_20.sample(10)

      UNITID                                    INSTNM  TUITIONFEE_IN  year
5160  460932                            Skin Institute            NaN  2020
78    104443             Empire Beauty School-Chandler            NaN  2019
2770  210508                     Academy of Vocal Arts            NaN  2019
1662  174376          North Hennepin Community College         4596.0  2020
4560  444307         Empire Beauty School-West Mifflin            NaN  2020
1664  173902                        Macalester College        56292.0  2019
2422  199333                    Pitt Community College         1940.0  2019
6017  491093  National American University-Garden City            NaN  2019
5061  458274          Paul Mitchell the School-Chicago            NaN  2020
5299  475635            Beverly Hills Design Institute        23220.0  2020

## Step 4 - Display the current working directory using os.getcwd()

You would need to import a standard Python library called os which stands for operating system. so place that import statement in the previous cell. Since your notebook and your data files may or may not in the same folder, you want to make sure what the current working folder is and how to access a data file in a different folder.

In [6]:
#(Write code below)
os.getcwd()

'/content'

## Step 5 - Get the list of file names

os library has a method call listdir which generates a list of files in a directory/folder. Use this method to assign the contents (list of file names) of the data folder to a variable and display it. If necessary, you can use ../ construct to traverse to the parent folder and then to another foloder parallel to the current folder

In [7]:
#(Write code below)
name_list = os.listdir()
name_list

['.config',
 'MERGED2006_07_PP.csv',
 'MERGED2009_10_PP.csv',
 'CollegeScorecard_Raw_Data_09012022.zip.4',
 'CollegeScorecard_Raw_Data_09012022.zip.9',
 'MERGED2003_04_PP.csv',
 'MERGED1998_99_PP.csv',
 'Crosswalks.zip',
 'CollegeScorecard_Raw_Data_09012022.zip.5',
 'MERGED2012_13_PP.csv',
 'MERGED2019_20_PP.csv',
 'MERGED2011_12_PP.csv',
 'MERGED2014_15_PP.csv',
 'Most-Recent-Cohorts-Field-of-Study.csv',
 'MERGED2000_01_PP.csv',
 'MERGED2007_08_PP.csv',
 'CollegeScorecard_Raw_Data_09012022.zip.8',
 'MERGED2016_17_PP.csv',
 'FieldOfStudyData1718_1819_PP.csv',
 'MERGED2018_19_PP.csv',
 'MERGED2008_09_PP.csv',
 'CollegeScorecard_Raw_Data_09012022.zip.3',
 'CollegeScorecard_Raw_Data_09012022.zip.6',
 'MERGED2002_03_PP.csv',
 'MERGED2004_05_PP.csv',
 'MERGED2010_11_PP.csv',
 'MERGED2013_14_PP.csv',
 'MERGED2005_06_PP.csv',
 'CollegeScorecard_Raw_Data_09012022.zip.1',
 'FieldOfStudyData1516_1617_PP.csv',
 'MERGED1999_00_PP.csv',
 'MERGED2015_16_PP.csv',
 'MERGED1996_97_PP.csv',
 'FieldOfStudyData1415_1516_PP.csv',
 'CollegeScorecard_Raw_Data_09012022.zip.2',
 'FieldOfStudyData1617_1718_PP.csv',
 'CollegeScorecard_Raw_Data_09012022.zip.7',
 'MERGED2017_18_PP.csv',
 'data.yaml',
 'Most-Recent-Cohorts-Institution.csv',
 'MERGED1997_98_PP.csv',
 'MERGED2020_21_PP.csv',
 'CollegeScorecard_Raw_Data_09012022.zip',
 'MERGED2001_02_PP.csv',
 'sample_data']

## Step 6 - Process only the yearly data files

The folder contains files that are not the yearly data files. Write code to remove the unwanted files from the list variable.

Note: don't remove/delete these files from the folder in the folder.
For example, use the file extension to only use the csv files or use the name patter - data file name begins with "MERGED". You can use the concept of list comprehension to write just *one* line of code as well as using a for loop, your choice.

In [8]:
#(Write code below)
# using loop
x = [1,3,6,8]
y = []
for num in x:
    y.append(num ** 2)

y

[1, 9, 36, 64]

In [9]:
# using loop with condition
x = [1,3,6,8]
y = []

for num in x:
    if num % 2 == 0:
       y.append(num ** 2)

y

[36, 64]

In [10]:
# using List comprehension
y = [num **2 for num in x]
y

[1, 9, 36, 64]

In [11]:
# using List comprehension with condition
y = [num **2 for num in x if num % 2 == 0]
y

[36, 64]

In [12]:
yearly_list = [file_name for file_name in name_list if file_name.startswith("MERGED")]

yearly_list

['MERGED2006_07_PP.csv',
 'MERGED2009_10_PP.csv',
 'MERGED2003_04_PP.csv',
 'MERGED1998_99_PP.csv',
 'MERGED2012_13_PP.csv',
 'MERGED2019_20_PP.csv',
 'MERGED2011_12_PP.csv',
 'MERGED2014_15_PP.csv',
 'MERGED2000_01_PP.csv',
 'MERGED2007_08_PP.csv',
 'MERGED2016_17_PP.csv',
 'MERGED2018_19_PP.csv',
 'MERGED2008_09_PP.csv',
 'MERGED2002_03_PP.csv',
 'MERGED2004_05_PP.csv',
 'MERGED2010_11_PP.csv',
 'MERGED2013_14_PP.csv',
 'MERGED2005_06_PP.csv',
 'MERGED1999_00_PP.csv',
 'MERGED2015_16_PP.csv',
 'MERGED1996_97_PP.csv',
 'MERGED2017_18_PP.csv',
 'MERGED1997_98_PP.csv',
 'MERGED2020_21_PP.csv',
 'MERGED2001_02_PP.csv']

## Step 7 - Load data files
 
Now that you have a clean list of the yearly files, you want to loop through them and read them into a dataframe one at a time. You only load six columns: ["UNITID", "INSTNM", "STABBR", "REGION", "ADM_RATE", "TUITIONFEE_IN"].

You should use "usecols" option of Pandas to avoid reading unwanted columns. You also want to add a new column call "YEAR" to differentiate the data frames from each other. The YEAR variable should be yyyy format so tht you can convert them into integer. If you use the format yyyy-yy (such as 1997-98 school year), you will not be able to convert them directly to integer. If you use scatter plot, the YEAR needs to be converted to integer or float. 

You would use an empty list and append the yearly dataframes to the list. After all data files are loaded and appended to the list, you would use Pandas to concatenate them into a new single data frame.

Note: this exercise incorporates many techques we learned before:

- list (creating an empty, append an item to the list)
- for loop 
- read only the needed columns from a file (using usecols option)
- add a new column to a data frame
- concatenate multiple dataframes into a single one

This exercise may appear challenging but it worths the effort. You will learn a lot and love it. I promise.

In [13]:
x = "MERGED2020_21_PP.csv"

x[6:10]

'2020'

In [14]:
#(Write code here)
yearly_list.sort()

print("processing file", yearly_list[0])
df_all = pd.read_csv("/content/" + yearly_list[0], usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
df_all["year"] = yearly_list[0][6:10]
print(df_all.shape)

for yearly_file in yearly_list[1:]:
    print("processing file", yearly_file)
    df = pd.read_csv("/content/" + yearly_file, usecols=['UNITID', 'INSTNM', 'TUITIONFEE_IN'])
    df["year"] = yearly_file[6:10]
    df_all = df_all.append(df, ignore_index = True)
    print(df_all.shape)

processing file MERGED1996_97_PP.csv
(7007, 4)
processing file MERGED1997_98_PP.csv
(13941, 4)
processing file MERGED1998_99_PP.csv
(20643, 4)
processing file MERGED1999_00_PP.csv
(27252, 4)
processing file MERGED2000_01_PP.csv
(33906, 4)
processing file MERGED2001_02_PP.csv
(40631, 4)
processing file MERGED2002_03_PP.csv
(47283, 4)
processing file MERGED2003_04_PP.csv
(53956, 4)
processing file MERGED2004_05_PP.csv
(60703, 4)
processing file MERGED2005_06_PP.csv
(67602, 4)
processing file MERGED2006_07_PP.csv
(74553, 4)
processing file MERGED2007_08_PP.csv
(81524, 4)
processing file MERGED2008_09_PP.csv
(88579, 4)
processing file MERGED2009_10_PP.csv
(95796, 4)
processing file MERGED2010_11_PP.csv
(103266, 4)
processing file MERGED2011_12_PP.csv
(111012, 4)
processing file MERGED2012_13_PP.csv
(118874, 4)
processing file MERGED2013_14_PP.csv
(126743, 4)
processing file MERGED2014_15_PP.csv
(134509, 4)
processing file MERGED2015_16_PP.csv
(142175, 4)
processing file MERGED2016_17_PP.csv
(149413, 4)
processing file MERGED2017_18_PP.csv
(156525, 4)
processing file MERGED2018_19_PP.csv
(163332, 4)
processing file MERGED2019_20_PP.csv
(170026, 4)
processing file MERGED2020_21_PP.csv
(176707, 4)

In [15]:
df_all.sample(10)

,UNITID,INSTNM,TUITIONFEE_IN,year
6179,380067,Houston Training School-Main Campus,NaN,1996
154962,456205,Miller-Motte College-Raleigh,11100.0,2017
108358,407470,Empire Beauty School-Cincinnati,NaN,2011
32249,245342,Vatterott College-Berkeley,7582.0,2000
42729,169521,Delta College,2066.0,2002
5540,243638,College of Micronesia-FSM,NaN,1996
103220,44903802,Strayer University-Maitland Campus,14085.0,2010
36536,183062,Keene State College,5554.0,2001
10471,198507,Elizabeth City State University,NaN,1997
47078,439695,James Albert School of Cosmetology-Costa Mesa,NaN,2002

## Step 8 - Explore the new dataframe 

For example, # of observations, varibles, head, tail, sample, missing values, statistics, etc.

In [16]:
#(Write code here)
df_all.shape
df_all.head()

   UNITID                                  INSTNM  TUITIONFEE_IN  year
0  100636      Community College of the Air Force            NaN  1996
1  100654                Alabama A & M University            NaN  1996
2  100663     University of Alabama at Birmingham            NaN  1996
3  100672  ALABAMA AVIATION AND TECHNICAL COLLEGE            NaN  1996
4  100690                      Amridge University            NaN  1996

In [17]:
df_all.tail()

,UNITID,INSTNM,TUITIONFEE_IN,year
176702,49576719,Pennsylvania State University-Penn State Wilke...,13604.0,2020
176703,49576720,Pennsylvania State University-Penn State York,14486.0,2020
176704,49576721,Pennsylvania State University-Penn State Great...,NaN,2020
176705,49576722,Pennsylvania State University-Penn State Harri...,15216.0,2020
176706,49576723,Pennsylvania State University-Penn State Brand...,14486.0,2020

In [18]:
df_all.isnull().sum()

UNITID               0
INSTNM               0
TUITIONFEE_IN    89840
year                 0
dtype: int64

In [19]:
df_all.sample

<bound method NDFrame.sample of           UNITID                                             INSTNM  \
0         100636                 Community College of the Air Force
1         100654                           Alabama A & M University
2         100663                University of Alabama at Birmingham
3         100672             ALABAMA AVIATION AND TECHNICAL COLLEGE
4         100690                                 Amridge University
...          ...                                                ...
176702  49576719  Pennsylvania State University-Penn State Wilke...
176703  49576720      Pennsylvania State University-Penn State York
176704  49576721  Pennsylvania State University-Penn State Great...
176705  49576722  Pennsylvania State University-Penn State Harri...
176706  49576723  Pennsylvania State University-Penn State Brand...

        TUITIONFEE_IN  year
0                 NaN  1996
1                 NaN  1996
2                 NaN  1996
3                 NaN  1996
4                 NaN  1996
...               ...   ...
176702        13604.0  2020
176703        14486.0  2020
176704            NaN  2020
176705        15216.0  2020
176706        14486.0  2020

[176707 rows x 4 columns]>

In [20]:
df_all.describe()

             UNITID  TUITIONFEE_IN
count  1.767070e+05   86867.000000
mean   1.054338e+06   12037.588290
std    4.959072e+06   10462.970227
min    1.006360e+05       0.000000
25%    1.641730e+05    3936.000000
50%    2.136310e+05    9422.000000
75%    4.137780e+05   16490.000000
max    4.957672e+07   74787.000000

## Step 9 - UMBC 

The dataframe contains many years of data of all U.S. colleges. let's just look at UMBC. Filter/query the dataframe to retrieve only rows that belong to UMBC (one row represent one year). Save the UMNC data to a new data frame. using a new variable for the UMBC data frame, so that the old big data frame is still available for later use.

In [21]:
#(Write code here)
data_UMBC  = df_all[df_all["INSTNM"].str.contains("University of Maryland-Baltimore County")]

In [22]:
data_UMBC.head()

       UNITID                                   INSTNM  TUITIONFEE_IN  year
2151   163268  University of Maryland-Baltimore County            NaN  1996
9056   163268  University of Maryland-Baltimore County            NaN  1997
15923  163268  University of Maryland-Baltimore County            NaN  1998
22598  163268  University of Maryland-Baltimore County            NaN  1999
29178  163268  University of Maryland-Baltimore County         5490.0  2000

## Step 10 - Explore the new dataframe

For example, # of observations, varibles, head, tail, sample, missing values, statistics, etc

In [23]:
#(Write code here)
data_UMBC.tail()

        UNITID                                   INSTNM  TUITIONFEE_IN  year
143685  163268  University of Maryland-Baltimore County        11264.0  2016
150891  163268  University of Maryland-Baltimore County        11518.0  2017
157940  163268  University of Maryland-Baltimore County        11778.0  2018
164723  163268  University of Maryland-Baltimore County        12028.0  2019
171401  163268  University of Maryland-Baltimore County         9420.0  2020

In [24]:
data_UMBC.describe()

         UNITID  TUITIONFEE_IN
count      25.0      21.000000
mean   163268.0    9168.571429
std         0.0    1854.082079
min    163268.0    5490.000000
25%    163268.0    8520.000000
50%    163268.0    9171.000000
75%    163268.0   10384.000000
max    163268.0   12028.000000

In [25]:
data_UMBC.isnull().sum()

UNITID           0
INSTNM           0
TUITIONFEE_IN    4
year             0
dtype: int64

In [26]:
data_UMBC.sample

<bound method NDFrame.sample of         UNITID                                   INSTNM  TUITIONFEE_IN  year
2151    163268  University of Maryland-Baltimore County            NaN  1996
9056    163268  University of Maryland-Baltimore County            NaN  1997
15923   163268  University of Maryland-Baltimore County            NaN  1998
22598   163268  University of Maryland-Baltimore County            NaN  1999
29178   163268  University of Maryland-Baltimore County         5490.0  2000
35821   163268  University of Maryland-Baltimore County         5910.0  2001
42524   163268  University of Maryland-Baltimore County         6362.0  2002
49156   163268  University of Maryland-Baltimore County         7388.0  2003
55786   163268  University of Maryland-Baltimore County         8020.0  2004
62522   163268  University of Maryland-Baltimore County         8520.0  2005
69401   163268  University of Maryland-Baltimore County         8622.0  2006
76332   163268  University of Maryland-Baltimore County         8708.0  2007
83291   163268  University of Maryland-Baltimore County         8780.0  2008
90324   163268  University of Maryland-Baltimore County         8872.0  2009
97506   163268  University of Maryland-Baltimore County         9171.0  2010
104960  163268  University of Maryland-Baltimore County         9467.0  2011
112672  163268  University of Maryland-Baltimore County         9764.0  2012
120503  163268  University of Maryland-Baltimore County        10068.0  2013
128353  163268  University of Maryland-Baltimore County        10384.0  2014
136064  163268  University of Maryland-Baltimore County        11006.0  2015
143685  163268  University of Maryland-Baltimore County        11264.0  2016
150891  163268  University of Maryland-Baltimore County        11518.0  2017
157940  163268  University of Maryland-Baltimore County        11778.0  2018
164723  163268  University of Maryland-Baltimore County        12028.0  2019
171401  163268  University of Maryland-Baltimore County         9420.0  2020>

In [27]:
data_UMBC.columns

Index(['UNITID', 'INSTNM', 'TUITIONFEE_IN', 'year'], dtype='object')

## Step 11 - Plot UMBC's in-state tuition overtime Bar Chart

In [28]:
#(Write code here)
import plotly.express as px
fig = px.bar(data_UMBC, x=data_UMBC["year"],y=data_UMBC["TUITIONFEE_IN"],title="Over Time Bar Chart")
fig.show()

## Step 12 - Plot UMBC's in-state tuition overtime using line Chart

In [29]:
#(Write code here)
fig = px.line(data_UMBC, x=data_UMBC["year"],y=data_UMBC["TUITIONFEE_IN"],title="Over Time Bar Chart")
fig.show()

## Step 13 - Tuition Growth Rate

Now let's look at the tuition growth rate year over year. We need to calculate UMBC tuition change percentage each year. First convert the TUITIONFEE_IN column to a Python List

In [30]:
#(Write code here)
one_list = data_UMBC['TUITIONFEE_IN'].tolist()

In [31]:
one_list

[nan,
 nan,
 nan,
 nan,
 5490.0,
 5910.0,
 6362.0,
 7388.0,
 8020.0,
 8520.0,
 8622.0,
 8708.0,
 8780.0,
 8872.0,
 9171.0,
 9467.0,
 9764.0,
 10068.0,
 10384.0,
 11006.0,
 11264.0,
 11518.0,
 11778.0,
 12028.0,
 9420.0]

In [32]:
a =[ ]
for i in range(len(one_list)):
  a.append((one_list[i]-one_list[i-1])/one_list[i-1])
a

[nan,
 nan,
 nan,
 nan,
 nan,
 0.07650273224043716,
 0.07648054145516074,
 0.16127004086765168,
 0.08554412560909583,
 0.06234413965087282,
 0.011971830985915493,
 0.009974483878450475,
 0.008268259072117593,
 0.010478359908883827,
 0.03370153291253381,
 0.03227565151019518,
 0.03137213478398648,
 0.031134780827529702,
 0.03138657131505761,
 0.05989984591679507,
 0.02344175904052335,
 0.022549715909090908,
 0.022573363431151242,
 0.021226014603498048,
 -0.2168274027269704]

In [33]:
len(a)

25

## Step 14 - Loop through the list and calculate the % change each year over the prior year

This takes some effort. Not hard, just some abstract/logical thinking and some experiments. Have fun on this one.

In [34]:
pct_change = [ ]
for i in range(len(a)):
  pct_change.append(a[i]/a[i-1])
pct_change

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.9997099347353153,
 2.108641463557127,
 0.5304402798489939,
 0.7287951008554564,
 0.19202816901408448,
 0.8331627710235102,
 0.8289410432534638,
 1.2672994178688939,
 3.2162984670874657,
 0.9576909036737514,
 0.972006243594392,
 0.9924342427414938,
 1.0080871128954687,
 1.908454584462952,
 0.39134923774404257,
 0.9619464081219168,
 1.0010486838129433,
 0.9403124469349635,
 -10.21517259727303]

In [35]:
len(pct_change)

25

## Step 15 - Round up the percentage to two decimal points

The resulting number has many decimal points which are unnecessary and not visually appealing. You can use for loop. Or better, use list comprehension for simplicity/brevity.

In [36]:
new_list = [round(item, 2) for item in pct_change]
new_list

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 1.0,
 2.11,
 0.53,
 0.73,
 0.19,
 0.83,
 0.83,
 1.27,
 3.22,
 0.96,
 0.97,
 0.99,
 1.01,
 1.91,
 0.39,
 0.96,
 1.0,
 0.94,
 -10.22]

## Step 16 - Add the list of the percentages to the dataframe as a new column ("PCT_CHANGE")

Not as hard as you may think. If you get stuck, you think too hard. Google it and you will find the answer.

In [37]:
#(Write code here)
data_UMBC.columns

Index(['UNITID', 'INSTNM', 'TUITIONFEE_IN', 'year'], dtype='object')

In [38]:
new_list

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 1.0,
 2.11,
 0.53,
 0.73,
 0.19,
 0.83,
 0.83,
 1.27,
 3.22,
 0.96,
 0.97,
 0.99,
 1.01,
 1.91,
 0.39,
 0.96,
 1.0,
 0.94,
 -10.22]

In [39]:
import numpy as np
data_UMBC["PCT_CHANGE"] =new_list
data_UMBC.columns

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Index(['UNITID', 'INSTNM', 'TUITIONFEE_IN', 'year', 'PCT_CHANGE'], dtype='object')

## Step 17 - Finaly, we can make the plot tuition growth rate year over year - bar first, then line chart

In [40]:
# (write code here)
figure = px.bar(data_UMBC, x="year",y="PCT_CHANGE",title="Over Time Bar Chart")
figure.show()

In [41]:
figure = px.line(data_UMBC["INSTNM"], x=data_UMBC["year"],y=data_UMBC["PCT_CHANGE"],title="Over Time Bar Chart")
figure.show()

## Step 18 - Define Growth Rate Function

Since we want to do the same calculation for JHU. Instead of doing it piecemeal as we did for UMBC. Let's create a function which can be reused for any college. This function takes a list of tuitions and return a list of percentage changes year over year. This function can be used later.

In [42]:
def growthrate(tutions):
  Growth_Rate = [ ]
  Percentage_Change = [ ]
  for i in range(len(tutions)):
    Growth_Rate.append((tutions[i]-tutions[i-1])/tutions[i-1])
  for i in range(len(one_list)):
    Percentage_Change.append(round(Growth_Rate[i]/Growth_Rate[i-1],2))
  return Percentage_Change  
#print("Percentage_Change")
#print("Growth_Rate")

## Step 19 - Get JHU Data

The dataframe contains many years of data of all U.S. colleges. Let's just look at JHU. Filter/query the dataframe to retrieve only rows that belong to JHU. Save the JHU data to a new data frame using a new variable so that the old big data frame is still available for later use.

In [43]:
#(Write code here)
data_JHU  = df_all[df_all["INSTNM"].str.contains("Johns Hopkins University")]

In [44]:
data_JHU.head()

       UNITID                    INSTNM  TUITIONFEE_IN  year
2139   162928  Johns Hopkins University            NaN  1996
9046   162928  Johns Hopkins University            NaN  1997
15914  162928  Johns Hopkins University            NaN  1998
22589  162928  Johns Hopkins University            NaN  1999
29169  162928  Johns Hopkins University        24930.0  2000

## Step 20 - Plot JHU's in-state tuition overtime

Let's plot bar and then line chart.

In [45]:
# <14> 
# Plot JHU's in-state tuition overtime from 1996 to 2019. 
# Let's plot bar and line chart together

#(Write code here)
import plotly.express as px
figure1 = px.bar(data_JHU, x= data_JHU["year"],y= data_JHU["TUITIONFEE_IN"],title="Over Time Bar Chart")
figure1.show()

In [46]:
fig = px.line(data_JHU, x=data_JHU["year"],y=data_JHU["TUITIONFEE_IN"],title="Over Time line Chart")
fig.show()

## Step 21 - Calculate Tuition Growth Rate using the Function defined earlier

In [47]:
# Write code here
list_one = data_JHU['TUITIONFEE_IN'].tolist()

In [48]:
list_one

[nan,
 nan,
 nan,
 nan,
 24930.0,
 26210.0,
 27390.0,
 28730.0,
 30140.0,
 31620.0,
 33900.0,
 35900.0,
 37700.0,
 39150.0,
 40680.0,
 42280.0,
 43390.0,
 45470.0,
 47060.0,
 48710.0,
 50410.0,
 52170.0,
 53740.0,
 55350.0,
 54160.0]

In [49]:
Per_Change = growthrate(list_one)
Per_Change

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 0.88,
 1.09,
 1.0,
 1.0,
 1.47,
 0.82,
 0.85,
 0.77,
 1.02,
 1.01,
 0.67,
 1.83,
 0.73,
 1.0,
 1.0,
 1.0,
 0.86,
 1.0,
 -0.72]

## Step 22 - Add the list of percentage changes to the dataframe as a new column ("PCT_CHANGE")

In [50]:
#(Write code here)
import numpy as np
data_JHU["PCT_CHANGE"] = Per_Change
data_JHU.columns

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Index(['UNITID', 'INSTNM', 'TUITIONFEE_IN', 'year', 'PCT_CHANGE'], dtype='object')

In [51]:
data_JHU['PCT_CHANGE'].head(10)

2139      NaN
9046      NaN
15914     NaN
22589     NaN
29169     NaN
35812     NaN
42515    0.88
49148    1.09
55779    1.00
62515    1.00
Name: PCT_CHANGE, dtype: float64

## Step 23 - Plot the JHU percentage changes tuitions over time

Bar plot first, then line plot.

In [52]:
#(Write code here)
figure0 = px.bar(data_JHU, x=data_JHU["year"],y=data_JHU["PCT_CHANGE"],title="Over Time Bar Chart")
figure0.show()

In [53]:
fig = px.line(data_JHU, x=data_JHU["year"],y=data_JHU["PCT_CHANGE"],title="Over Time line Chart")
fig.show()

## Step 24 - Compare UMBC and JHU 

In order to plot both UMBC and JHU tuition change over time in the same plot, we need to combine the two datasets using the common key of YEAR. 

First make a umbc2 dataframe with only two columns needed. We don't need other columns. Also change the column name from "PCT_CHANGE" to "UMBC_PCT" in preparation for the merge. This is because both umbc and jhu dataframe have the same column name "PCT_CHANGE", we rename them to there is no collision during the merge. BTW, Pandas handles collision gracefully, Feel free to try it without changing the column names.

In [54]:
data_UMBC.head()

,UNITID,INSTNM,TUITIONFEE_IN,year,PCT_CHANGE
2151,163268,University of Maryland-Baltimore County,NaN,1996,NaN
9056,163268,University of Maryland-Baltimore County,NaN,1997,NaN
15923,163268,University of Maryland-Baltimore County,NaN,1998,NaN
22598,163268,University of Maryland-Baltimore County,NaN,1999,NaN
29178,163268,University of Maryland-Baltimore County,5490.0,2000,NaN

In [55]:
umbc = data_UMBC[["PCT_CHANGE","year"]]

In [56]:
umbc.head()

       PCT_CHANGE  year
2151          NaN  1996
9056          NaN  1997
15923         NaN  1998
22598         NaN  1999
29178         NaN  2000

In [57]:
umbc.tail()

        PCT_CHANGE  year
143685        0.39  2016
150891        0.96  2017
157940        1.00  2018
164723        0.94  2019
171401      -10.22  2020

In [58]:
umbc2 = umbc.rename(columns = {'PCT_CHANGE':'UMBC_PCT'})

In [59]:
umbc2.head()

       UMBC_PCT  year
2151        NaN  1996
9056        NaN  1997
15923       NaN  1998
22598       NaN  1999
29178       NaN  2000

## Step 25 

Then make a jhu2 dataframe with only two columns needed. WE don't need other columns. Also change the column name from "PCT_CHANGE" to "JHU_PCT"  in preparation for the merge

In [60]:
#(Write code here)
jh = data_JHU[["PCT_CHANGE","year"]]

In [61]:
jh.head()

       PCT_CHANGE  year
2139          NaN  1996
9046          NaN  1997
15914         NaN  1998
22589         NaN  1999
29169         NaN  2000

In [62]:
jh2 = jh.rename(columns = {"PCT_CHANGE":"JHU_PCT"})

In [63]:
jh2.head()

       JHU_PCT  year
2139       NaN  1996
9046       NaN  1997
15914      NaN  1998
22589      NaN  1999
29169      NaN  2000

## Step 26 - Merger the two data frames and display the new dataframe

In [64]:
#(Write code here)
Merged_DataFrames = umbc2.merge(jh2,on = "year")

In [65]:
Merged_DataFrames.head()

   UMBC_PCT  year  JHU_PCT
0       NaN  1996      NaN
1       NaN  1997      NaN
2       NaN  1998      NaN
3       NaN  1999      NaN
4       NaN  2000      NaN

## Step 27 - Plot UMBC and JHU separately on the same line plot

In [66]:
fig = px.line(Merged_DataFrames, x='year', y=['UMBC_PCT','JHU_PCT'])
fig.show()

## Step 28 - Document your observation of the comparison plots using the following Markdown cell

#### Based on my observation of the plots
#### blah, blah 
#### blah, blah
#### ...
#### blah, blah

# While I was doing the plots there lot of difference in between two colleges growth and perentage rate. After both the data frames got merged if we observed in the above line plot we can get to know the actuall difference with the given data. The line plots shows the percentage changes in between colleges. Most of the change got started approximately from the year 2009. And if we go to the more deeper we can observe that the percentage changes got down in 2020 for universit of maryland baltimore county.

##  The end.